*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container-p7{
    width: 100%;
    /* width: 1200px; */
}
body{
    min-width: 1200px;
}
.container2{
    width: 1200px;
    margin: 0 auto;
}
.P7-content2{
    width: 1200px;
    height: 1350px;
    border: 1px solid #e5e5e5;
}
.P7-content2:after{
    clear: both;
    content: "";
}


.iconList{
    width: 100px;
    height: 100px;
    background: #cdeff6;
    margin-top: 60px;
    margin-left: 40px;
    float:left;
}
.iconList>span{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #00a0e9;
   padding-top: 10px;
   font-weight: bold;

}
.iconList>img{
    margin-top: 15px;
    margin-left: 30px;
}
.P7-content2>ul:nth-of-type(1){
    margin-top: 60px;
    margin-left: 150px;
    height: 31px;
}
.P7-content2>ul:nth-of-type(1)>li{
    background: #49c1e3;
    float: left;
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
}
.P7-content2>ul:nth-of-type(2){
    margin-left: 155px;
    /* margin-bottom: 400px; */
    /* margin-top: 200px; */
    clear: both;
    position: relative;top: -50px;
}
.P7-content2>ul:nth-of-type(2)>li{
    margin-top: 20px;
}
.P7-content2>ul:nth-of-type(2) span{
    color: #999999;
    font-size: 14px;
    display: block;
    float: left;

}
.P7-content2>ul:nth-of-type(2) p{
    font-size: 14px;
    margin-left: 110px;
    display: block;
}
.line-style{
    width: 80%;
    height: 1px;
    border: none;
    margin-left: 160px;
    background: #dadada;
    margin-top: 30px;
    text-align: center;
    clear: both;
}
.ul2{
    margin-top: 20px;
    margin-left: 160px;
}
.ul2>li{
    margin-top: 10px;
    font-size: 14px;
}
.ul2>li:nth-of-type(1)>span{
    font-size: 14px;
    display: block;
    float: left;
    margin-left: 10px;
}
.ul2>li:nth-of-type(1)>a{
    color: blue;
    font-size: 14px;
    margin-left: 10px;
}
.ul3{
    margin-top: 55px;
}
.ul3 span{
    font-size: 14px;
    margin-left: 60px;

}
.ul3>li:nth-of-type(1)>span:nth-of-type(1){
    color: #999999;
}
.ul3>li:not(:first-child){
    margin-left: 249px;
    margin-top: 15px;
}
.zhankai{
    font-size: 14px;
    color: blue;
    float:right;
    margin-right:20px;
}
.ul4{
    margin-top: 55px;
    
}
.ul4 span{
    font-size: 14px;
    margin-left: 60px;

}
.ul4>li:nth-of-type(1)>span:nth-of-type(1){
    color: #999999;
}
.ul4>li:nth-of-type(1){
    margin-left: 100px;
}
.ul4>li:not(:first-child){
    margin-left: 249px;
    margin-top: 15px;
}
.zhankai{
    font-size: 14px;
    color: blue;
    float:right;
    margin-right:20px;
}

.ul5{
    margin-left: 160px;
    margin-top: 55px;
}
.ul5 p, span ,b{
    font-size: 14px;
}
.ul5 li{
    margin-top: 20px;
}
.ul5 b{
    color: #999999;
}
.ul5 p{
    margin-left: 150px;
}
.ul5>li:nth-of-type(1)>span{
    margin-left: 50px;
}
.ul5>li:nth-of-type(2)>span{
    margin-left: 63px;
}
.ul5>li:nth-of-type(7)>span{
    margin-left: 63px;
}
.ul5>li:nth-of-type(8)>span{
    margin-left: 90px;
}
.ul5>li:nth-of-type(9)>img:nth-of-type(1){
    margin-left: 50px;
}
.ul5>li:nth-of-type(9)>img{
    margin-left: 20px;
}
/* .yhpl{
    width: 100px;
    height: 100px;
    background: #cdeff6;
    margin-top: 0px;
    margin-left: 40px;
    float:left;
}
.yhpl>span{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #00a0e9;
   padding-top: 10px;

}
.yhpl>img{
    margin-top: 15px;
    margin-left: 27px;
} */
.P7-content3{
    width: 1200px;
    border: 1px solid #e5e5e5;
    height: 1200px;
    /* margin-top: 30px; */
    clear: both;
    content: "";
}
.yhpf>li:nth-of-type(1){
    color: #00a0e9;
    font-size: 50px;
}
.yhpf>li:nth-of-type(2){
    margin-left: 10px;
    font-size: 14px;
}
.yhpf{
    margin-left: 40px;
    float: left;
    margin-top: 50px;
}

.yhtj{
    /* width: 85px; */
    margin-left: 50px;
    float: left;
    margin-top: 50px;
}
.yhtj>li:nth-of-type(1){
    color: #00a0e9;
    font-size: 50px;
}
.yhtj>li:nth-of-type(2){
    margin-left: 10px;
    font-size: 14px;
}
.p7-weizhi{
    float: left;
    margin-top: 50px;
    margin-left: 30px;
}
.p7-weizhi>li{
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}
.p7-fenshu{
    margin-left: 15px;
    margin-top: 47px;
    float: left;

}
.p7-fenshu>li{
    margin-top:8px;
}
.fenshutiao{
    margin-left: 200px;
    margin-top: 55px;
}

.fenshutiao>li{
    width: 280px;
    height: 22px;
    background: #e5e5e5;
    margin-top: 7px;
    /* float: left; */
    position: relative;
    margin-left: 400px;
}
.fenshutiao>li:nth-of-type(1)>em{
    position: absolute;
    width: 60%;
    height: 22px;
    background: #00a0e9;
}
.fenshutiao>li:nth-of-type(2)>em{
    position: absolute;
    width: 20%;
    height: 22px;
    background: #00a0e9;
}
.fenshutiao>li:nth-of-type(4)>em{
    position: absolute;
    width: 2%;
    height: 22px;
    background: #00a0e9;
}
.p7-conten3-yhpl{
    clear: both;
}
.score_list{
    clear: both;
}

.score_list {
	border-bottom: 1px solid #eee;
	margin-top: 65px;
    height: 42px;
    width: 92%;
    margin-left: 50px;
    
}
.score_list li {
	float: left;
}
.score_list li a {
	height: 40px;
	line-height: 40px;
	border: 1px solid #eee;
	border-bottom: none;
	border-right: none;
	padding: 0 10px;
	display: inline-block;
	color: #0065b9;
}
.score_list li.list_cur a {
	border-top: 2px solid #0086f7;
	background-color: #f6f6f6;
	margin-top: -1px;
	font-weight: bold;
	color: #333;
	height: 41px;
	line-height: 41px;
}
.score_list li:last-child a {
	border-right: 1px solid #eee;
}
.score_list li a span {
	color: #999;
}
.comment_list li{
	padding: 15px 40px 15px 130px;
	background: url(../images/icon/fy_bj.png) left bottom repeat-x;
	position: relative;
	min-height: 100px

}
.all_data{
    margin-left: 60px;
}
.author {
	position: absolute;
	left: 0;
	top: 13px;
	font-size: 14px;
}
.author i {
    color: #00a0e9;
 
}
.author strong {
	color:#666;
}
.author p {
	color: #999;
	margin-top: 8px;
}
.author span {
	display: inline-block;
	border: 1px solid #39b5ee;
	padding: 4px;
	border-radius: 2px;
	color: #39b5ee;
	margin-top: 5px;

}

.comment_info {
	background-color: #f5f9fc;
	font-size: 12px;
	color: #999;
	height: 24px;
	margin-bottom: 5px;
	padding: 7px 0 0 10px;
}
.comment_info span {
	border-right: 1px solid #dbdcde;
	padding-right: 14px;
    margin-left: 12px;
    display: block;
    float: left;
    margin-top: -5px;
}
.comment_detail {
	font-size: 14px;
	color: #252525;
	text-indent: 2em;
	line-height: 20px;
	margin-bottom: 15px;
}

.comment_pic_list {
	margin: 20px 0;
}
.comment_pic_list a {
    display: inline-block;
    margin-left: 5px;
}
.detail_comment_tips a{
	font-size: 12px;
	color: #666;
    margin-right: 20px;
    margin-top:3px;
}
.detail_comment_tips>a:nth-of-type(1){
    clear: both;
    float: left;
    
}
.p7-remove>hr:nth-of-type(1){
    width: 96%;
    height: 1px;
    border: none;
    margin-left: 0px;
    background: #dadada;
    margin-top: 130px;

    /* text-align: center; */
}
.p7-remove>hr:nth-of-type(2){
    width: 96%;
    height: 1px;
    border: none;
    margin-left: 0px;
    background: #dadada;
    margin-top: 30px;

    /* text-align: center; */
}
.p7-remove>hr:nth-of-type(3){
    width: 96%;
    height: 1px;
    border: none;
    margin-left: 0px;
    background: #dadada;
    margin-top: 30px;

    /* text-align: center; */
}
.fixed-active{
    position: fixed;
    z-index: 9999;
    top: 0;
    box-shadow: 0 0 10px 0  rgb(92, 92, 92);
}
.ljydShow{
    display: block;
}
.table{
    width: 1005px;
    height: 80px;
    border: 1px solid #eeeeee;
    margin-left: 150px;
}
.table li ,p{
    font-size: 14px;
    
}
.table1{
    width: 1005px;
    height: 26.6px;
    background: #eeeeee;
    border-bottom: #eeeeee dashed 1px;
}
.table1>li{
    font-weight: bold;
}
.table1>li:nth-of-type(1){
   margin-left: 30px;
}
.table1>li:nth-of-type(2){
    margin-left: 200px;
 }
 .table1>li:nth-of-type(3){
    margin-left: 250px;
 }
.table li{
    float: left;
}
.table p{
    clear: both;
    margin-left: 30px;
}
.table2{
    width: 1005px;
    height: 26.6px;
    border-bottom: #eeeeee dashed 1px;
}
.table2>li:nth-of-type(1){
    margin-left: 30px;
 }
 .table2>li:nth-of-type(2){
     margin-left: 100px;
  }
  .table2>li:nth-of-type(3){
     margin-left: 270px;
  }